<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebsSockets</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="chatControls">
    <input v-model="message" placeholder="Type your message">
    <button v-on:click="sendMessage">Send</button>
</div>
<div id="userlist">
    <ul>
        <li v-for="user in users">
            <p>{{ user }}</p>
        </li>
    </ul>
</div>
<div id="chatMessage">
    <ol>
        <li v-for="msg in messages">
            <b> {{ msg.userName }} says : </b>
            <p>{{ msg.message }}</p>
            <span class="timestamp">{{ msg.time }}</span>
        </li>
    </ol>
</div>
<div id="chat">    <!-- Built by JS --> </div>
<script>

    var chatControls = new Vue({
        el: '#chatControls',
        data: {
            message: ''
        },
        methods: {
            sendMessage: function () {
                if (this.message !== "") {
                    webSocket.send(this.message);
                    this.message = '';
                }
            }
        }

    });

    var chatMessage = new Vue({
        el: '#chatMessage',
        data: {
            messages: [ ]
        }
    });
    var userlist = new Vue({
        el: '#userlist',
        data: {
            users: [ ]
        }
    });
    //Establish the WebSocket connection and set up event handlers
    var webSocket = new WebSocket("ws://localhost:4567/chat/");
    webSocket.onmessage = function (msg) { updateChat(msg); };
    webSocket.onclose = function () { alert("WebSocket connection closed") };


    //Update the chat-panel, and the list of connected users
    function updateChat(msg) {
        var data = JSON.parse(msg.data);
        chatMessage.messages.unshift({
            userName: data.sender,
            message: data.userMessage,
            time: data.timestamp
        });
        userlist.users = data.userlist;
    }




</script>
</body>
</html>